## Nashville Housing Data in Pandas
For each goal/exercise every rows shows my thought process and how I went through every step.

Commented (#) code usually shows me double checking values etc

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel(r"C:\Users\lynnl\Downloads\Nashville Housing Data for Data Cleaning (1).xlsx")
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

### STANDARDIZE/CHANGE DATE FORMAT

In [5]:
#Converting it to "April 09, 2013" format. Idealy we'd want it in "2013-04-09" but converted for practice.
df["SaleDate"] = df['SaleDate'].dt.strftime('%B %d, %Y')

### POPULATE PROPERTY ADDRESS DATA (NULL/MISSING DATA)
Translating a SQL self-join in Pandas. Not the most efficient way but I did this to help me understand and learn better.

An alternative way of doing this would be to do: 
- GroupBy
- Helper function to return missing values for each group
- Transform

In [9]:
#Checking where we have null values
    #df.isnull().sum()
#Self-joining the data
df_copy = df.merge(df, on = 'ParcelID', suffixes = ('_left', '_right'))
df_copy

,UniqueID_left,ParcelID,LandUse_left,PropertyAddress_left,SaleDate_left,SalePrice_left,LegalReference_left,SoldAsVacant_left,OwnerName_left,OwnerAddress_left,...,OwnerAddress_right,Acreage_right,TaxDistrict_right,LandValue_right,BuildingValue_right,TotalValue_right,YearBuilt_right,Bedrooms_right,FullBath_right,HalfBath_right
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 09, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,"1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,"1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,"1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,"1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,"1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73790,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE","May 27, 2015",157500,20150608-0053286,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73791,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE","March 02, 2015",145000,20150304-0019013,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73792,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE","August 16, 2016",234611,20160819-0087214,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73793,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE","September 07, 2016",93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73794,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE","September 07, 2016",93844,20160919-0098411,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Realized I have a space in the column header, so removing them
df.columns = df.columns.str.replace(" ", "")
df.columns

Index(['UniqueID', 'ParcelID', 'LandUse', 'PropertyAddress', 'SaleDate',
       'SalePrice', 'LegalReference', 'SoldAsVacant', 'OwnerName',
       'OwnerAddress', 'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath'],
      dtype='object')

In [10]:
#Removes rows where the merge paired a row with itself. (SQL tb.UniqueID <> tb_2.UniqueID.)
df_copy = df_copy[df_copy["UniqueID_left"] != df_copy["UniqueID_right"]]
df_copy

,UniqueID_left,ParcelID,LandUse_left,PropertyAddress_left,SaleDate_left,SalePrice_left,LegalReference_left,SoldAsVacant_left,OwnerName_left,OwnerAddress_left,...,OwnerAddress_right,Acreage_right,TaxDistrict_right,LandValue_right,BuildingValue_right,TotalValue_right,YearBuilt_right,Bedrooms_right,FullBath_right,HalfBath_right
44,6993,015 14 0 060.00,SINGLE FAMILY,"3113 MILLIKEN DR, JOELTON","August 20, 2013",145000,20130821-0088382,No,"SMITH, HOLLI NICHOLE","3113 MILLIKEN DR, JOELTON, TN",...,"3113 MILLIKEN DR, JOELTON, TN",0.98,GENERAL SERVICES DISTRICT,30000.0,111200.0,141200.0,1996.0,3.0,2.0,0.0
45,43071,015 14 0 060.00,SINGLE FAMILY,"3113 MILLIKEN DR, JOELTON","January 15, 2016",160000,20160119-0004923,No,"SMITH, HOLLI NICHOLE","3113 MILLIKEN DR, JOELTON, TN",...,"3113 MILLIKEN DR, JOELTON, TN",0.98,GENERAL SERVICES DISTRICT,30000.0,111200.0,141200.0,1996.0,3.0,2.0,0.0
63,8903,018 00 0 164.00,VACANT RES LAND,"332 MONCRIEF AVE, GOODLETTSVILLE","October 25, 2013",25000,20131028-0111686,N,"BRUCE, WILLIAM JEFFREY & REBECCA LYNN","332 MONCRIEF AVE, GOODLETTSVILLE, TN",...,"332 MONCRIEF AVE, GOODLETTSVILLE, TN",0.39,CITY OF GOODLETTSVILLE,24000.0,175900.0,199900.0,2014.0,3.0,2.0,0.0
64,16921,018 00 0 164.00,SINGLE FAMILY,"332 MONCRIEF AVE, GOODLETTSVILLE","June 24, 2014",219900,20140625-0055427,No,"BRUCE, WILLIAM JEFFREY & REBECCA LYNN","332 MONCRIEF AVE, GOODLETTSVILLE, TN",...,"332 MONCRIEF AVE, GOODLETTSVILLE, TN",0.39,CITY OF GOODLETTSVILLE,24000.0,175900.0,199900.0,2014.0,3.0,2.0,0.0
79,5807,018 07 0 045.00,SINGLE FAMILY,"202 LUCIEN RD, GOODLETTSVILLE","July 26, 2013",75000,20130730-0078963,No,"CARNEY, BILLY H. & MYRTHA H.","202 LUCIEN RD, GOODLETTSVILLE, TN",...,"202 LUCIEN RD, GOODLETTSVILLE, TN",0.45,CITY OF GOODLETTSVILLE,28000.0,101900.0,132600.0,1957.0,3.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73718,37558,187 09 0A 207.00,SINGLE FAMILY,"2174 KIRKWALL DR, NOLENSVILLE","September 30, 2015",266750,20151002-0100278,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73759,42735,188 10 0A 023.00,VACANT RESIDENTIAL LAND,"2109 GLEN HAVEN DR, NOLENSVILLE","January 29, 2016",32000,20160203-0010448,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73760,55552,188 10 0A 023.00,VACANT RESIDENTIAL LAND,"2109 GLEN HAVEN DR, NOLENSVILLE","October 18, 2016",90000,20161018-0110119,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73773,1664,188 10 0A 054.00,SINGLE FAMILY,"2025 OAK TRAIL DR, NOLENSVILLE","April 19, 2013",137000,20130425-0040972,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73774,19282,188 10 0A 054.00,SINGLE FAMILY,"2025 OAK TRAIL DR, NOLENSVILLE","August 29, 2014",176900,20140905-0081414,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Now we only want to keep pairs where the left-side address is NULL and the right-side address is non-NULL.
# This is beacsue we want to insert the values from the right side dataframe to the missing left side ones.
df_copy = df_copy[df_copy["PropertyAddress_left"].isna() & df_copy["PropertyAddress_right"].notna()]
df_copy

,UniqueID_left,ParcelID,LandUse_left,PropertyAddress_left,SaleDate_left,SalePrice_left,LegalReference_left,SoldAsVacant_left,OwnerName_left,OwnerAddress_left,...,OwnerAddress_right,Acreage_right,TaxDistrict_right,LandValue_right,BuildingValue_right,TotalValue_right,YearBuilt_right,Bedrooms_right,FullBath_right,HalfBath_right
186,43076,025 07 0 031.00,SINGLE FAMILY,NaN,"January 15, 2016",179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",...,"410 ROSEHILL CT, GOODLETTSVILLE, TN",0.96,CITY OF GOODLETTSVILLE,30000.0,70000.0,100000.0,1964.0,3.0,1.0,0.0
272,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,NaN,"October 23, 2015",153000,20151028-0109602,No,"SHACKLEFORD, MICHAEL C., JR.","141 TWO MILE PIKE, GOODLETTSVILLE, TN",...,"141 TWO MILE PIKE, GOODLETTSVILLE, TN",0.17,CITY OF GOODLETTSVILLE,21100.0,121600.0,142700.0,2015.0,3.0,2.0,0.0
301,45290,026 05 0 017.00,SINGLE FAMILY,NaN,"March 29, 2016",155000,20160330-0029941,No,"TRIPP, MARVIN S. & DEBORAH YOUNG","208 EAST AVE, GOODLETTSVILLE, TN",...,"208 EAST AVE, GOODLETTSVILLE, TN",0.20,CITY OF GOODLETTSVILLE,21100.0,130200.0,151300.0,2008.0,3.0,2.0,0.0
372,53147,026 06 0A 038.00,RESIDENTIAL CONDO,NaN,"August 25, 2016",144900,20160831-0091567,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,43080,033 06 0 041.00,SINGLE FAMILY,NaN,"January 04, 2016",170000,20160107-0001526,No,"FRANK, ZACHARY & NIKI","1129 CAMPBELL RD, GOODLETTSVILLE, TN",...,"1129 CAMPBELL RD, GOODLETTSVILLE, TN",0.24,GENERAL SERVICES DISTRICT,35000.0,110500.0,145500.0,2000.0,3.0,2.0,0.0
622,45295,033 06 0A 002.00,SINGLE FAMILY,NaN,"March 29, 2016",210000,20160331-0030709,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,48731,033 15 0 123.00,SINGLE FAMILY,NaN,"May 05, 2016",199900,20160506-0045368,No,"COLEMAN, AARON A. & CECIL, CORRIE J.","438 W CAMPBELL RD, GOODLETTSVILLE, TN",...,"438 W CAMPBELL RD, GOODLETTSVILLE, TN",1.39,GENERAL SERVICES DISTRICT,45000.0,90300.0,135300.0,1954.0,2.0,1.0,0.0
1010,36531,034 03 0 059.00,SINGLE FAMILY,NaN,"August 13, 2015",245000,20150819-0083759,No,"DILICK, JOHN MARK & ANNETTE A.","2117 PAULA DR, MADISON, TN",...,"2117 PAULA DR, MADISON, TN",1.01,GENERAL SERVICES DISTRICT,32000.0,170000.0,228300.0,1964.0,4.0,3.0,0.0
1012,36531,034 03 0 059.00,SINGLE FAMILY,NaN,"August 13, 2015",245000,20150819-0083759,No,"DILICK, JOHN MARK & ANNETTE A.","2117 PAULA DR, MADISON, TN",...,"2117 PAULA DR, MADISON, TN",1.01,GENERAL SERVICES DISTRICT,32000.0,170000.0,228300.0,1964.0,4.0,3.0,0.0
1282,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,NaN,"April 27, 2016",40000,20160304-0020905,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1284,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,NaN,"April 27, 2016",40000,20160304-0020905,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1285,46919,034 07 0B 015.00,VACANT RESIDENTIAL LAND,NaN,"April 27, 2016",40000,20160304-0020905,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1497,44264,034 16 0A 004.00,VACANT RESIDENTIAL LAND,NaN,"February 04, 2016",130000,20160205-0011327,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,45298,041 03 0A 100.00,SINGLE FAMILY,NaN,"March 18, 2016",170000,20160322-0027048,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,40678,042 13 0 075.00,SINGLE FAMILY,NaN,"November 30, 2015",208000,20151209-0123831,No,"SADOWSKY, ERIC C. & LISA D.","222 FOXBORO DR, MADISON, TN",...,"222 FOXBORO DR, MADISON, TN",1.01,GENERAL SERVICES DISTRICT,30000.0,100000.0,130000.0,1967.0,3.0,1.0,1.0
2211,47293,043 04 0 014.00,SINGLE FAMILY,NaN,"April 29, 2016",190000,20160503-0043576,No,"CRIPPS, WILLIE S. JR. & GINEA M.","112 HILLER DR, OLD HICKORY, TN",...,"112 HILLER DR, OLD HICKORY, TN",0.29,GENERAL SERVICES DISTRICT,17000.0,143700.0,173600.0,1956.0,4.0,2.0,1.0
2394,22775,043 09 0 074.00,VACANT RESIDENTIAL LAND,NaN,"October 27, 2014",151000,20141028-0099094,Yes,"BREWER HOLDINGS, LLC","213 B LOVELL ST, MADISON, TN",...,"213 B LOVELL ST, MADISON, TN",0.15,GENERAL SERVICES DISTRICT,18000.0,115600.0,133600.0,2015.0,3.0,2.0,0.0
2609,45349,043 13 0 308.00,SINGLE FAMILY,NaN,"March 31, 2016",155000,20160405-0032445,No,"JACKSON, ADAM L. & MOORE, MARY A.","224 HICKORY ST, MADISON, TN",...,"224 HICKORY ST, MADISON, TN",0.16,GENERAL SERVICES DISTRICT,16000.0,65900.0,81900.0,1940.0,2.0,1.0,0.0
3013,50927,044 05 0 135.00,SINGLE FAMILY,NaN,"June 15, 2016",160000,20160617-0061987,No,"SMITH, WARREN & MARTHA","202 KEETON AVE, OLD HICKORY, TN",...,"202 KEETON AVE, OLD HICKORY, TN",0.12,GENERAL SERVICES DISTRICT,19000.0,102700.0,121700.0,2015.0,4.0,2.0,0.0
4529,3299,052 01 0 296.00,SINGLE FAMILY,NaN,"May 31, 2013",79370,20130620-0063114,No,"KIRBY, WILLIAM E. JR","726 IDLEWILD DR, MADISON, TN",...,"726 IDLEWILD DR, MADISON, TN",0.22,GENERAL SERVICES DISTRICT,16000.0,60800.0,76800.0,1957.0,2.0,1.0,0.0
4838,43151,052 08 0A 320.00,SINGLE FAMILY,NaN,"January 15, 2016",150000,20160119-0004918,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26875,49886,092 06 0 273.00,SINGLE FAMILY,NaN,"June 21, 2016",186000,20160705-0068281,No,"SOLAVA, RACHEL LYNN","2721 HERMAN ST, NASHVILLE, TN",...,"2721 HERMAN ST, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,9000.0,63200.0,72200.0,1987.0,2.0,1.0,1.0
26879,27140,092 06 0 282.00,SINGLE FAMILY,NaN,"February 20, 2015",41500,20150224-0015900,No,PROSPERITAS PARTNERS LLC,"815 31ST AVE N, NASHVILLE, TN",...,"815 31ST AVE N, NASHVILLE, TN",0.17,URBAN SERVICES DISTRICT,13000.0,49400.0,62400.0,1960.0,2.0,1.0,0.0
27326,11478,092 13 0 322.00,SINGLE FAMILY,NaN,"January 17, 2014",269500,20140122-0006168,No,"WIGGINS, MATHEW L. & GOOD, KENDRA A.","237 37TH AVE N, NASHVILLE, TN",...,"237 37TH AVE N, NASHVILLE, TN",0.34,URBAN SERVICES DISTRICT,91000.0,107100.0,198100.0,1945.0,2.0,1.0,0.0
27328,11478,092 13 0 322.00,SINGLE FAMILY,NaN,"January 17, 2014",269500,20140122-0006168,No,"WIGGINS, MATHEW L. & GOOD, KENDRA A.","237 37TH AVE N, NASHVILLE, TN",...,"237 37TH AVE N, NASHVILLE, TN",0.34,URBAN SERVICES DISTRICT,91000.0,107100.0,198100.0,1945.0,2.0,1.0,0.0
27335,32385,092 13 0 339.00,SINGLE FAMILY,NaN,"June 05, 2015",450000,20150618-0058311,No,"JUMPER, NICOLE","311 35TH AVE N, NASHVILLE, TN",...,"311 35TH AVE N, NASHVILLE, TN",0.16,URBAN SERVICES DISTRICT,65000.0,365300.0,430300.0,2015.0,3.0,3.0,1.0
28373,8126,093 08 0 054.00,SINGLE FAMILY,NaN,"September 20, 2013",25000,20130923-0099666,N,"CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN","700 GLENVIEW DR, NASHVILLE, TN",...,"700 GLENVIEW DR, NASHVILLE, TN",0.21,URBAN SERVICES DISTRICT,25000.0,236800.0,261800.0,2015.0,3.0,2.0,1.0
28375,8126,093 08 0 054.00,SINGLE FAMILY,NaN,"September 20, 2013",25000,20130923-0099666,N,"CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN","700 GLENVIEW DR, NASHVILLE, TN",...,"700 GLENVIEW DR, NASHVILLE, TN",0.21,URBAN SERVICES DISTRICT,25000.0,236800.0,261800.0,2015.0,3.0,2.0,1.0
38613,45774,107 13 0 107.00,SINGLE FAMILY,NaN,"March 28, 2016",169900,20160330-0030078,No,"GROOMS, MICAH & CASEY","1205 THOMPSON PL, NASHVILLE, TN",...,"1205 THOMPSON PL, NASHVILLE, TN",0.39,URBAN SERVICES DISTRICT,17000.0,75600.0,96200.0,1949.0,3.0,1.0,0.0
38863,14753,108 07 0A 026.00,RESIDENTIAL CONDO,NaN,"April 15, 2014",79900,20140416-0031777,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38864,14753,108 07 0A 026.00,RESIDENTIAL CONDO,NaN,"April 15, 2014",79900,20140416-0031777,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39593,15886,109 04 0A 080.00,VACANT RES LAND,NaN,"May 13, 2014",255590,20140514-0041276,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39916,24197,110 03 0A 061.00,SINGLE FAMILY,NaN,"November 19, 2014",269750,20141120-0106962,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40089,51930,113 14 0A 002.00,VACANT RESIDENTIAL LAND,NaN,"July 05, 2016",133000,20160707-0069375,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40529,51703,114 15 0A 030.00,RESIDENTIAL CONDO,NaN,"July 08, 2016",343235,20160713-0071757,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Creating a 1:1 map dict, to accurately mapp the right value to the PropertyAddress
    #Mapping the left uniqueID key to the value of PropertyAddress_right
fill_map = df_copy.set_index("UniqueID_left")["PropertyAddress_right"].to_dict()
fill_map

{43076: '410  ROSEHILL CT, GOODLETTSVILLE',
 39432: '141  TWO MILE PIKE, GOODLETTSVILLE',
 45290: '208  EAST AVE, GOODLETTSVILLE',
 53147: '109  CANTON CT, GOODLETTSVILLE',
 43080: '1129  CAMPBELL RD, GOODLETTSVILLE',
 45295: '1116  CAMPBELL RD, GOODLETTSVILLE',
 48731: '438  W CAMPBELL RD, GOODLETTSVILLE',
 36531: '2117  PAULA DR, MADISON',
 46919: '2524  VAL MARIE DR, MADISON',
 44264: '213 WARREN  CT, OLD HICKORY',
 45298: '1289  GOODMORNING DR, NASHVILLE',
 40678: '222  FOXBORO DR, MADISON',
 47293: '112  HILLER DR, OLD HICKORY',
 22775: '213 B  LOVELL ST, MADISON',
 45349: '224  HICKORY ST, MADISON',
 50927: '202  KEETON AVE, OLD HICKORY',
 3299: '726  IDLEWILD DR, MADISON',
 43151: '608  SANDY SPRING TRL, MADISON',
 49886: '2721  HERMAN ST, NASHVILLE',
 27140: '815  31ST AVE N, NASHVILLE',
 11478: '237  37TH AVE N, NASHVILLE',
 32385: '311  35TH AVE N, NASHVILLE',
 8126: '700  GLENVIEW DR, NASHVILLE',
 45774: '1205  THOMPSON PL, NASHVILLE',
 14753: '908  PATIO DR, NASHVILLE',
 15886: '2537  JANALYN TRCE, HERMITAGE',
 24197: '2704  ALVIN SPERRY PASS, MOUNT JULIET',
 51930: '7601  CHIPMUNK LN, NASHVILLE',
 51703: '109  CEDAR PLACE BND, NASHVILLE'}

In [13]:
#Updating the PropertyAddress with the map we created above.

#update_rows selects exactly the rows you intend to update.
update_rows = df["UniqueID"].isin(fill_map.keys())
# Filling the missing PropertyAddress cells with the corresponding mapped values.
df.loc[update_rows, "PropertyAddress"] = df.loc[update_rows, "UniqueID"].map(fill_map) #Matches the UniqueID keys with the keys in filled_map and inserts the mapped values.
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 09, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,188 10 0A 101.00,SINGLE FAMILY,"1435 WINDING CREEK DR, NOLENSVILLE","May 27, 2015",157500,20150608-0053286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56473,27707,188 10 0A 107.00,SINGLE FAMILY,"1423 WINDING CREEK DR, NOLENSVILLE","March 02, 2015",145000,20150304-0019013,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56474,52709,188 10 0A 118.00,VACANT RESIDENTIAL LAND,"1804 GRACE POINT LN, NOLENSVILLE","August 16, 2016",234611,20160819-0087214,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56475,54042,188 10 0A 121.00,VACANT RESIDENTIAL LAND,"1709 PARK TERRACE LN, NOLENSVILLE","September 07, 2016",93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56476,54043,188 10 0A 122.00,VACANT RESIDENTIAL LAND,"1713 PARK TERRACE LN, NOLENSVILLE","September 07, 2016",93844,20160919-0098411,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Double checking the addresses in df matches the mapped ones (in fill_map)
df.loc[update_rows, "PropertyAddress"].isin(fill_map.values())
# Double checking so that the ID's in the df matches the mapped id's.
df.loc[update_rows, "UniqueID"].isin(fill_map.keys())

#checking for null values, there are no longer any null values in the PropertyAddress
df.isnull().sum()

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress        0
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
dtype: int64

### BREAKING OUT ADDRESS INTO INDIVIUAL COLUMNS (ADDRESS, CITY, STATE)

In [17]:
#PropertyAddress
df[["StreetAddress","City"]] = df["PropertyAddress"].str.split(',', n=2, expand=True)
#Renaming column names becuase I messed up
df.rename(columns = {"StreetAddress":"PropertyStreetAddress", "City":"PropertyCity"}, inplace = True)
#Double checking value with raw data
df.loc[df['UniqueID'] == 56607]

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,PropertyStreetAddress,PropertyCity
54208,56607,176 09 0 003.00,SINGLE FAMILY,"4964 HICKORY WOODS E, ANTIOCH","October 28, 2016",236000,20161031-0114817,No,"CHHAY, CHOWAN & NIM, PHALLY","4964 HICKORY WOODS E, ANTIOCH, TN",...,URBAN SERVICES DISTRICT,25000.0,159300.0,184300.0,1995.0,3.0,3.0,0.0,4964 HICKORY WOODS E,ANTIOCH

In [18]:
#OwnerAddress
df[["OwnerStreetAddress","OwnerCity","OwnerState"]] = df["OwnerAddress"].str.split(',', n=2, expand = True)
#Double checking value with raw data
df.loc[df['UniqueID'] == 56607]

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,PropertyStreetAddress,PropertyCity,OwnerStreetAddress,OwnerCity,OwnerState
54208,56607,176 09 0 003.00,SINGLE FAMILY,"4964 HICKORY WOODS E, ANTIOCH","October 28, 2016",236000,20161031-0114817,No,"CHHAY, CHOWAN & NIM, PHALLY","4964 HICKORY WOODS E, ANTIOCH, TN",...,184300.0,1995.0,3.0,3.0,0.0,4964 HICKORY WOODS E,ANTIOCH,4964 HICKORY WOODS E,ANTIOCH,TN

### STANDARDIZE THE DATA BY CHANING 'Y' & 'N' to 'Yes' and 'NO' IN "Sold as Vacant" COLUMN

In [20]:
#Checks before & after making changes
#df["SoldAsVacant"].unique()
#df.groupby("SoldAsVacant").size()

#Changing/Replacing values 
#replace_map = {"N":"No", "Y":"Yes"}
df["SoldAsVacant"] = df["SoldAsVacant"].replace(replace_map)

SoldAsVacant
No     51802
Yes     4675
dtype: int64

### REMOVE DUPLICATES
In this wanted to translate a SQL OVER (PARTITION BY ... SORT BY ...) statement

Alternatively you could simply (after sorting) use:
- drop_duplicates
- subsetting by the values I want and "ParcelID", "PropertyAddress", "SalePrice", "SaleDate", "LegalReference"
- keep = "first"

In [21]:
#Checking for duplicates
#df["ParcelID"].duplicated().sum()

#Soritng values based on UniqueID - Similar to SQL OVER (PARTITION BY ... SORT BY UniqueID)
df = df.sort_values("UniqueID")

#Grouping specific values (PARTITION BY) and creating a "row_number" column

df["row_number"] = (df.groupby(["ParcelID", "PropertyAddress", "SalePrice", "SaleDate", "LegalReference"])["UniqueID"].rank(method="first").astype(int))

#Check for duplicate rows
#df.loc[df['row_number'] == 2]

# Delete duplicates - "DELETE WHERE row_num > 1" -> keep only row_num == 1
df = df[df["row_number"] == 1].copy()
df

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,YearBuilt,Bedrooms,FullBath,HalfBath,PropertyStreetAddress,PropertyCity,OwnerStreetAddress,OwnerCity,OwnerState,row_number
27692,0,105 03 0D 008.00,RESIDENTIAL CONDO,"1208 3RD AVE S, NASHVILLE","January 24, 2013",132000,20130128-0008725,No,NaN,NaN,...,NaN,NaN,NaN,NaN,1208 3RD AVE S,NASHVILLE,NaN,NaN,NaN,1
28310,1,105 11 0 080.00,SINGLE FAMILY,"1802 STEWART PL, NASHVILLE","January 11, 2013",191500,20130118-0006337,No,"STINSON, LAURA M.","1802 STEWART PL, NASHVILLE, TN",...,1941.0,2.0,1.0,0.0,1802 STEWART PL,NASHVILLE,1802 STEWART PL,NASHVILLE,TN,1
33275,2,118 03 0 130.00,SINGLE FAMILY,"2761 ROSEDALE PL, NASHVILLE","January 18, 2013",202000,20130124-0008033,No,"NUNES, JARED R.","2761 ROSEDALE PL, NASHVILLE, TN",...,2000.0,3.0,2.0,1.0,2761 ROSEDALE PL,NASHVILLE,2761 ROSEDALE PL,NASHVILLE,TN,1
33813,3,119 01 0 479.00,SINGLE FAMILY,"224 PEACHTREE ST, NASHVILLE","January 18, 2013",32000,20130128-0008863,No,"WHITFORD, KAREN","224 PEACHTREE ST, NASHVILLE, TN",...,1948.0,4.0,2.0,0.0,224 PEACHTREE ST,NASHVILLE,224 PEACHTREE ST,NASHVILLE,TN,1
33950,4,119 05 0 186.00,SINGLE FAMILY,"316 LUTIE ST, NASHVILLE","January 23, 2013",102000,20130131-0009929,No,"HENDERSON, JAMES P. & LYNN P.","316 LUTIE ST, NASHVILLE, TN",...,1910.0,2.0,1.0,0.0,316 LUTIE ST,NASHVILLE,316 LUTIE ST,NASHVILLE,TN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21587,56631,093 13 0B 274.00,RESIDENTIAL CONDO,"320 11TH AVE S, NASHVILLE","October 06, 2016",210000,20161007-0106599,No,NaN,NaN,...,NaN,NaN,NaN,NaN,320 11TH AVE S,NASHVILLE,NaN,NaN,NaN,1
21838,56632,093 13 0D 044.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE","October 25, 2016",338000,20161101-0115186,No,NaN,NaN,...,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN,1
21841,56633,093 13 0D 048.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE","October 04, 2016",742000,20161010-0106889,No,NaN,NaN,...,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN,1
21844,56634,093 13 0D 056.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE","October 26, 2016",320000,20161031-0114730,No,NaN,NaN,...,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN,1
21858,56635,093 13 0D 094.00,RESIDENTIAL CONDO,"700 12TH AVE S, NASHVILLE","October 27, 2016",330000,20161104-0117077,No,NaN,NaN,...,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN,1

### DELETING UNUSED COLUMNS

In [22]:
#Dropping columns unused columns, PropertyAddress, OwerAddress, row_number
df = df.drop(columns=["row_number", "PropertyAddress", "OwnerAddress"])

In [24]:
df

,UniqueID,ParcelID,LandUse,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,Acreage,TaxDistrict,...,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,PropertyStreetAddress,PropertyCity,OwnerStreetAddress,OwnerCity,OwnerState
27692,0,105 03 0D 008.00,RESIDENTIAL CONDO,"January 24, 2013",132000,20130128-0008725,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1208 3RD AVE S,NASHVILLE,NaN,NaN,NaN
28310,1,105 11 0 080.00,SINGLE FAMILY,"January 11, 2013",191500,20130118-0006337,No,"STINSON, LAURA M.",0.17,URBAN SERVICES DISTRICT,...,168300.0,1941.0,2.0,1.0,0.0,1802 STEWART PL,NASHVILLE,1802 STEWART PL,NASHVILLE,TN
33275,2,118 03 0 130.00,SINGLE FAMILY,"January 18, 2013",202000,20130124-0008033,No,"NUNES, JARED R.",0.11,CITY OF BERRY HILL,...,191800.0,2000.0,3.0,2.0,1.0,2761 ROSEDALE PL,NASHVILLE,2761 ROSEDALE PL,NASHVILLE,TN
33813,3,119 01 0 479.00,SINGLE FAMILY,"January 18, 2013",32000,20130128-0008863,No,"WHITFORD, KAREN",0.17,URBAN SERVICES DISTRICT,...,268700.0,1948.0,4.0,2.0,0.0,224 PEACHTREE ST,NASHVILLE,224 PEACHTREE ST,NASHVILLE,TN
33950,4,119 05 0 186.00,SINGLE FAMILY,"January 23, 2013",102000,20130131-0009929,No,"HENDERSON, JAMES P. & LYNN P.",0.34,URBAN SERVICES DISTRICT,...,164800.0,1910.0,2.0,1.0,0.0,316 LUTIE ST,NASHVILLE,316 LUTIE ST,NASHVILLE,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21587,56631,093 13 0B 274.00,RESIDENTIAL CONDO,"October 06, 2016",210000,20161007-0106599,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,320 11TH AVE S,NASHVILLE,NaN,NaN,NaN
21838,56632,093 13 0D 044.00,RESIDENTIAL CONDO,"October 25, 2016",338000,20161101-0115186,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN
21841,56633,093 13 0D 048.00,RESIDENTIAL CONDO,"October 04, 2016",742000,20161010-0106889,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN
21844,56634,093 13 0D 056.00,RESIDENTIAL CONDO,"October 26, 2016",320000,20161031-0114730,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN
21858,56635,093 13 0D 094.00,RESIDENTIAL CONDO,"October 27, 2016",330000,20161104-0117077,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,700 12TH AVE S,NASHVILLE,NaN,NaN,NaN